.setting_form_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.setting_form_item {
  flex-basis: 100%;
  margin-bottom: 50px;
  select {
    background-image: url('../../../images/ar.png');
    background-repeat: no-repeat;
    background-position: 93% center;
  }
}

.setting_form_item_for_three {
  flex-basis: 32%;
}

.setting_form_item_for_two {
  flex-basis: 48%;
}

.title_input {
  opacity: 0.7;
  display: block;
  font-size: 16px;
  padding-left: 4px;
  padding-bottom: 15px;
}

.dark_input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  padding: 5px 15px;
  border: 0;
  background-color: #3e4954;
  &::placeholder {
    color: #fff;
  }
}

.violet_box {
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px 55px 30px 10px;
  background-color: #c6aee1;
}

.violet_box_title {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.violet_box_row {

  display: flex;
  align-items: center;
  justify-content: space-between;
  .dark_input {
    flex-basis: 73%;
  }
  .give_code {
    border: none;
    background: rgb(240, 25, 1);
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    &:hover {
      background: #9f348e;
    }
  }
}

.setting_form_bottom {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .form_sbm,
  .form_refresh {
    transition: all 0.3s ease-in-out;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    min-width: 185px;
    border: 0;
    margin: 0 10px;
  }
  .form_sbm {
    transition: all 0.3s ease-in-out;
    color: #fff;
    background: rgb(240, 25, 1);
    &:hover {
      transition: all 0.3s ease-in-out;
      background: #9f348e;
    }
  }
  .form_refresh {
    background-color: #cbcbcb;
    &:hover {
      color: #fff;
      background: #9f348e;
    }
  }
}

.drop_area{
  margin: auto;
  font-size: 25px;
  max-width: 500px;
  width: 80%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    display: none;
  }
}
.drop_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_sbmOpen{
  max-width: 145px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  min-width: 145px;
  border: 0;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background: rgb(54, 168, 61);
  margin-bottom: 20px;
  &:hover {
    transition: all 0.3s ease-in-out;
    background: #9f348e;
  }
}
.add__file{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.crop_image{
  flex-direction: column;
}
.crop_buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.form_sbmOpen_clear{
  background: rgb(64, 66, 64);
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  text-transform: none!important;
}
.input_margin{
  margin-bottom: 40px;
}
.us_menu_li_hiddenMobile{
  @media (max-width: 1300px) {
    display: none!important;
  }
}