.main_cont {
  margin-bottom: 110px;
  p {
    color: #ada2c3;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .about_title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .d_flex_right {
    max-width: 47%;
    width: 100%;
  }
  .d_flex_left {
    max-width: 44%;
    width: 100%;
  }
  .d_flex_about {
    padding-bottom: 15px;
    margin-top: 65px;
    .d_flex_right {
      margin-top: 50px;
    }
  }
  .about_text {
    margin-top: 55px;
  }
}
.d_flex {
  display: flex;
  justify-content: space-between;
}