.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 000ms, transform 0ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 00ms, transform 0ms;
}

.lider_top_add{
  cursor: pointer;
  position: relative;
}
.add_top_wrapper{

  background: #4b4f57;
  color:#fff8e5;
  position: absolute;
  top: -150px;
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;

}
.linkNewTop{
  position: absolute;
  top: -71px;
  left: 115px;
}

.add_top_button{

  margin-top: 15px;
  border: 0;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background: #36a83d;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #dd2f6e;
  }
}
.top_wrapper_message{
  top:-70px!important;
  width: initial!important;
}



